#testimonial .testimonial-container {
    max-width: 850px;
    margin-inline: auto;
    padding-block: 3rem;
}

#testimonial .testimonial-container img {
    width: 80px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center top;
    border-radius: 50%;
}

#testimonial .testimonial-container .flex {
    align-items: center;
    gap: 2rem;
    margin-block: 2rem 3.2rem;
    position: relative;
}

#testimonial .testimonial-container .flex::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -30px;
    height: 2px;
    width: 100px;
    background-color: pink;
}

#testimonial .testimonial-container .person-name {
    font-size: 18px;
}